extends layout

block content
    script.
        var job = '#{job}',
              loggedin = "#{loggedin}",
              edit = true,
              readonly = false;
        
        var buildCode = '#{buildCode}',
            buildList = '!{buildList}',
            viewMode = #{mode};
            
    include ./includes/trainer.jade
    include ./includes/classModal.jade
    script(type='text/javascript' src='/js/vendor.js')
    
    .main
        .container
            h2 Publish Build
            form#buildForm(method="post")
                .form-group
                    label Title
                    input.form-control(type="text" name="title" required)
                .form-group
                    label Type
                    select.form-control(name="type")
                        option PvE
                        option PvP
                        option Leveling
                .form-group
                    textarea.form-control.ckeditor(type="text" rows='10' name="content")
                .pubButtons
                    input#submit.btn.btn-info(type='submit' value='Submit')
                    a.btn.btn-default(href='/' + job) Cancel
                    
            script.
                $("#buildForm").submit( function(eventObj) {
                    $("#submit").prop('disabled', true);
                    $('<input />').attr('type', 'hidden')
                        .attr('name', "buildCode")
                        .attr('value', buildCode)
                        .appendTo(this);
                    $('<input />').attr('type', 'hidden')
                        .attr('name', "buildList")
                        .attr('value', buildList)
                        .appendTo(this);
                    return true;
                });
            
        .main-background